/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #001;
    display: flex;
    color: #fff;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #123;
}
::-webkit-scrollbar-thumb {
    background-color: #0481ff;
    border-radius: 5px;
}
/* End Global Rules */

/* Start Variables */
:root {
    --mainColor: #123;
    scroll-behavior: smooth;
}
/* End Variables */

/* Start Components */
a {
    text-decoration: none;
}
/* End Components */


/* Start Navbar */
aside {
    width: 88px;
    height: 100vh;
    min-height: 700px;
    padding: 10px;
    background-color: var(--mainColor);
    color: var(--secondaryColor);
    font-size: 1.2rem;
    transition-duration: 0.5s;
    overflow: hidden;
    position: relative;
}
aside ul li:first-of-type {
    display: flex;
    gap: 18px;
    align-items: center;
    margin-bottom: 50px;
}
aside  ul li:first-of-type figure {
    width: 40px;         
    height: 40px;        
    margin-right: 20px;
    border-radius: 50%;
    border: 3.5px solid #fff;
    overflow: hidden;
    flex-shrink: 0;
}
aside ul li:first-of-type figure img {
    width: 100%;
    height: 100%;
}
aside ul li:first-of-type h2 {
    font-size: 1.2rem;
}
aside ul {
    list-style: none;
    margin-top: 10px;
    position: relative;
    height: 97.5%;
}
aside ul li {
    margin-top: 10px;
}
aside ul li a {
    display: flex;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    gap: 40px;
    transition: 0.3s;
    align-items: center;
    overflow: hidden;
}
aside ul li a i {
    font-size: 1rem;     
}
aside ul li a p {
    font-size: 0.9rem;
}
aside ul li:last-of-type a {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.737);
}
aside ul li a:hover,
aside ul li a.active {
    background-color: #ffffff40;
}
/* End Navbar */

/* Start Content */
content {
    padding: 10px;
    flex-grow: 1;
    max-height: 100vh;
    min-height: 700px;
    overflow: auto;
}
content > div {
    padding: 10px;
    border-radius: 7px;
    background-color: #0481ff;
    display: flex;
    justify-content: space-between;
    margin: 10px 0
}
content main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
content main article {
    background-color: var(--mainColor);
    border-radius: 7px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s;
}
content main article:hover {
    background-color: #ffffff40;
}
content main article i {
    font-size: 2.2rem;
}
content main article div {
    text-align: center;
    color: #fff;
}
content main article div p {
    font-size: 0.9rem;
}
content main article div span {
    font-size: 1.8rem;
}
/* Strat Table */
content > div:nth-of-type(2) {
    margin-top: 30px;
    margin-bottom: 5px;
}
table {
    width: 100%;
    text-align: center;
    border-spacing: 7px;
}
table th, td{
    padding: 10px;
    border-radius: 7px;
    background-color: var(--mainColor);
    transition: 0.2s;
}
table td:hover{
    background-color: #ffffff40;
}
table th {
    background-color: #0481ff;
}
.price,
.count {
    padding: 4px;
    border-radius: 7px;
}
.price {
    background-color: rgb(11, 109, 11);
    width: 60px;
    display: inline-block;
}
.count {
    background-color: gold;
    color: #000;
    font-weight: 500;
}
/* End Table */
/* Start Footer */
footer {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
footer p {
    margin-bottom: 10px;
}
footer a {
    color: #04d5ff;
    font-weight: bold;
    transition: 0.3s;
}
footer a[title="Copyrights"]:hover {
    color: rgb(4, 178, 4)
}
footer a[title="About Developer"]:hover {
    color: gold
}
/* End Footer */
/* End Content */



@media (min-width: 576px){
    /* Start Navbar */
    aside {
        padding: 15px;
    }
    aside  ul li:first-of-type figure {
        width: 60px; 
        height: 60px;
        margin-right: 0;
    }
    aside ul li a i {
        font-size: 1.5rem;    
    }
    /* End Navbar */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
    
    aside:hover {
        width: 270px;
    }
    /* Start Content */
    content main {
        grid-template-columns: repeat(2, 1fr);
    }
    /* End Content */

}

/* Large devices (laptops, 992px and up) */
@media(min-width:992px){

    /* Start Content */
    content main {
        grid-template-columns: repeat(4, 1fr);
    }
    /* End Content */
}

#booksTable {
    width: 100%;
    text-align: center;
    border-spacing: 7px;
}

#booksTable th, #booksTable td {
    padding: 10px;
    border-radius: 7px;
    background-color: var(--mainColor);
    transition: 0.2s;
}

#booksTable td:hover {
    background-color: #ffffff40;
}

#booksTable th {
    background-color: #0481ff;
}

#usersTable {
    width: 100%;
    text-align: center;
    border-spacing: 7px;
}

#usersTable th, #usersTable td {
    padding: 10px;
    border-radius: 7px;
    background-color: var(--mainColor);
    transition: 0.2s;
}

#usersTable td:hover {
    background-color: #ffffff40;
}

#usersTable th {
    background-color: #0481ff;
}

#usersContainer {
    background-color: #001;
}

/* CSS for the block button */
.block-button {
    background-color: slategray; /* Red background color */
    color: white; /* White text color */
    padding: 8px 16px; /* Padding around the text */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 14px; /* Font size */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}


/* CSS for the block button on hover */
.block-button:hover {
    background-color: #6c757d; 
}

.blocked-yes {
    color: red; /* Change text color to red */
    font-weight: bold; /* Make text bold */
}

.blocked-no {
    color: lawngreen; /* Change text color to green */
    font-weight: bold; /* Make text bold */
}
